<header>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-secondary-subtle">
        <div class="container-fluid">
            <!-- ISSO É O ÍCONE E LOGO -->
            <a class="navbar-brand" href="/index.html">
                <img src="/img/brush.png" alt="logo" width="32" height="32" class="d-inline-block align-text-top">
                Artsite
            </a>

            <!-- ISSO É O BOTÃO QUE APARECE PRA ABRIR A NAV -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- EU ACHO QUE ISSO É A BARRA -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- BOTÃO HOME -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html"><i
                                class="bi bi-house-fill"></i> Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="sobre.html"><i
                                class="bi bi-patch-question-fill"></i> Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="explorar.html"><i
                                class="bi bi-compass-fill"></i> Explorar</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center">
                    <div class="form-check form-switch me-3">
                        <input class="form-check-input" type="checkbox" id="themeToggle" role="switch">
                        <label class="form-check-label" for="themeToggle">
                            <i class="bi bi-moon-stars"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>